ai-conversation.json
{
  "name": "TimeZone Dubai - AI Conversation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-4544, 4352],
      "id": "03e8accd-8b60-4e4a-a559-6d14f54634d3",
      "name": "Webhook - Messages",
      "webhookId": "4bef86b0-2efc-4fd4-8ba0-e611b074e301"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data\nconst body = $json.body;\nconst data = body.data;\nconst key = data.key;\n\nconst remoteJid = key.remoteJid;\nconst messageId = key.id;\nconst fromMe = key.fromMe;\nconst source = data.source;\nconst timestamp = data.messageTimestamp;\nconst messageText = data.message.conversation || '';\nconst pushName = data.pushName || 'Unknown';\n\n// Classify message type\nlet messageType = 'UNKNOWN';\nif (fromMe === false) {\n  messageType = 'CUSTOMER';\n} else if (fromMe === true && source === 'web') {\n  messageType = 'AI';\n} else if (fromMe === true && (source === 'android' || source === 'iphone' || source !== 'web')) {\n  messageType = 'CLIENT';\n}\n\nreturn {\n  remoteJid: remoteJid,\n  messageId: messageId,\n  fromMe: fromMe,\n  source: source,\n  timestamp: timestamp,\n  messageText: messageText,\n  pushName: pushName,\n  messageType: messageType,\n  isCustomer: messageType === 'CUSTOMER',\n  isAI: messageType === 'AI',\n  isClient: messageType === 'CLIENT'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4288, 4352],
      "id": "1c1ba432-f6f4-44b9-aa4b-2b97d71ad472",
      "name": "Function - Extract Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "condition-message-type", "leftValue": "={{ $json.messageType }}", "rightValue": "CUSTOMER", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-4048, 4352],
      "id": "32a8f11a-b53c-4be8-af64-c7701c9c32b4",
      "name": "If - Message Type"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "condition-ai-vs-client", "leftValue": "={{ $json.messageType }}", "rightValue": "AI", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-3712, 4592],
      "id": "8f3b549a-ce58-4763-8fe3-ec7b09f46038",
      "name": "If - AI or Client"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/buffer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" },
            { "name": "messageText", "value": "={{ $('Webhook - Messages').item.json.body.data.message.conversation }}" },
            { "name": "timestamp", "value": "={{ $('Webhook - Messages').item.json.body.data.messageTimestamp }}" },
            { "name": "id", "value": "={{ $('Webhook - Messages').item.json.body.data.key.id }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3808, 4352],
      "id": "d2222222-aaaa-4aaa-8aaa-000000000020",
      "name": "HTTP - Buffer Append"
    },
    {
      "parameters": { "amount": 30 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-3584, 4352],
      "id": "079a582a-1e7a-4d56-99f7-96aaa2bc1159",
      "name": "Wait - 30s (Batch + Takeover)",
      "webhookId": "wait-30s-batch"
    },
    {
      "parameters": {
        "url": "=http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/status?remoteJid={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3360, 4352],
      "id": "6faa2e2a-ad14-4a2f-8299-f153b4e96139",
      "name": "HTTP - Get Status (After Wait)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "cond-latest", "leftValue": "={{ $json.lastCustomerMsgId }}", "rightValue": "={{ $('Webhook - Messages').item.json.body.data.key.id }}", "operator": { "type": "string", "operation": "equals" } },
            { "id": "cond-not-client", "leftValue": "={{ $json.clientActive }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-3136, 4352],
      "id": "a5555555-aaaa-4aaa-8aaa-000000000050",
      "name": "If - Latest & Client Free"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-2912, 4192],
      "id": "b6666666-aaaa-4aaa-8aaa-000000000060",
      "name": "STOP - Superseded or Client Took Over"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer's message(s) to answer (treat all lines as one turn):\n{{ $('HTTP - Get Status (After Wait)').item.json.combinedText }}\n{{ $('HTTP - Get Status (After Wait)').item.json.greetingSent ? '[Internal note: This customer already received our welcome greeting earlier. Do NOT greet again, do NOT say \"Welcome\", and do NOT re-introduce the boutique. Just answer their actual question directly.]' : '' }}",
        "options": {
          "systemMessage": "You are the WhatsApp assistant for TimeZone Dubai (The Timezone Watches Ltd), Dubai's leading destination for luxury timepieces, based at Gate Avenue, DIFC. We specialize in exceptional PRE-OWNED and RARE GENUINE watches from the world's most prestigious brands, backed by over a century of Swiss watchmaking craftsmanship and heritage. Our in-store collection includes Rolex, Patek Philippe, Audemars Piguet, Richard Mille, Cartier, Bvlgari, A. Lange & Söhne, and Arnold & Son. We also offer sourcing services for exclusive brands including Audemars Piguet, Hublot, Patek Philippe, Richard Mille, Jaeger-LeCoultre, Panerai, Breguet, Breitling, Franck Muller, and IWC, among others. Every watch is 100% authentic, inspected multi-point by our in-house experts — we never sell replicas or first-copies. Our four core values are Service, Knowledge, Independence, and Trust.\n\nGreet every customer warmly and naturally, and find out what they are looking for. Never mention Facebook, ads, leads, or how they reached us — just have a friendly, general conversation. Your goals, in order: (1) understand which watch / brand / style they want and whether they are a serious buyer, (2) build interest using your brand knowledge, (3) route them appropriately.\n\nHow to route (decide based on the customer's message):\n- If they want to see, try on, buy, or browse a watch, or are clearly a serious buyer → invite them to VISIT OUR SHOWROOM for a private viewing by appointment, and ALWAYS include the showroom address together with the Google Maps link below.\n- If they want pricing, a trade-in/sell valuation, negotiation, a specific model/availability check, or ask anything you cannot answer from the info above → tell them our team will assist them, and connect them (a specialist will take over the chat).\n- If it is a simple general question you can answer from the info above → answer it briefly, then point them to a showroom visit or our team.\n\nWhat you know (use when relevant):\n- Condition: mint and near-mint; any minor wear is documented with photos.\n- Warranty: most watches carry the remainder of the manufacturer warranty; otherwise our own 12-month mechanical warranty.\n- Trade-in: yes, competitive valuations — our team can give a preliminary valuation.\n- Boxes & papers: we prioritize full sets; details are confirmed per watch.\n- Services: buy, sell, and trade pre-owned luxury watches, plus professional evaluation, customization, and watchmaking/servicing.\n- We serve clients across the UAE: Dubai, Abu Dhabi, Sharjah, Ajman, Ras al-Khaimah, Fujairah, Umm al Quwain, and Palm Jumeirah.\n- Showroom: North Zone, Gate Avenue, Unit GA-00-NZ-G0-RT-49, Level GF, DIFC, Dubai, UAE. Google Maps: https://maps.app.goo.gl/yYsfxWDLoRYSx1XP7 . Hours: Mon–Sat 10:00–22:00, Sun 12:00–20:00. Contact: +971 58 905 1405, info@timezonedubai.com.\n- Website: https://timezonedubai.com — share only when the customer actually needs it (e.g. to browse the collection), never by default.\n\nRules:\n- NEVER quote, estimate, or discuss prices. If asked about price, let them know our team shares details during a private viewing or call, and offer a showroom visit.\n- NEVER confirm orders or take payment.\n- NEVER guess or improvise. If you do not know something (a specific model, availability, a detail, or anything outside the info above), do not make it up — reply with a short, helpful line such as: \"Let me have our team get in touch with you on this.\" and offer a showroom visit or specialist call.\n- Sound like a real person from the boutique texting on WhatsApp — natural and warm. NEVER reveal or imply you are an AI, bot, or assistant.\n- Use appreciation or filler words (\"Great\", \"Perfect\", \"Thank you\", etc.) only when the moment genuinely calls for it — not at the start of every message.\n- When you mention or invite them to the showroom, you MUST include the location (address + Google Maps link). Never mention the showroom without the location.\n- Never use internal terms like \"Client Advisor\" or \"specialist\" to the customer — just say \"our team\". Do NOT repeat \"our team\" in every message; only mention a handoff when genuinely needed, and vary your wording.\n- English only. CRITICAL: keep EVERY reply to 1–2 short lines maximum (one or two short sentences) — like a quick WhatsApp text, never a paragraph. Ask only one question at a time.\n- When the customer is ready, let them know our team will follow up and/or invite them to book a showroom visit — in one short line.\n\nCONVERSATION CONTINUITY: If the user message contains an internal note saying the customer was already greeted, do NOT greet again, do NOT say \"Welcome\", and do NOT re-introduce the boutique — simply continue and answer what they asked. The customer may send several messages at once; treat them as a single turn and answer them together in one short reply. Use the conversation memory so you never repeat yourself or lose context."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-2912, 4400],
      "id": "68100454-bc41-4a7e-8fff-850168f427da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-2832, 4624],
      "id": "84d059d7-e4d8-48ad-9431-836f84e77f40",
      "name": "Simple Memory"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-2976, 4608],
      "id": "745b4a94-d39d-4590-a3ef-7d196b0de01f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": { "id": "rv8Gx2C0yKGwzKZT", "name": "Gemini API Key" }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook - Messages').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-en.evolutionApi",
      "typeVersion": 1,
      "position": [-2688, 4400],
      "id": "d6612f9d-bc56-4c57-b499-c26d1a7ffa83",
      "name": "Send - AI Message",
      "credentials": {
        "evolutionApi": { "id": "nUouiKyAGid2oMmY", "name": "Evolution account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" },
            { "name": "lastAITime", "value": "={{ Date.now() }}" },
            { "name": "lastResponder", "value": "ai" },
            { "name": "aiPending", "value": "false" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2464, 4400],
      "id": "6462a118-e3ec-4f31-b768-8fbdd5dccddd",
      "name": "HTTP - Update AI Done"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/buffer/clear",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2240, 4400],
      "id": "c7777777-aaaa-4aaa-8aaa-000000000070",
      "name": "HTTP - Clear Buffer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" },
            { "name": "lastAITime", "value": "={{ $json.timestamp * 1000 }}" },
            { "name": "lastResponder", "value": "ai" },
            { "name": "aiPending", "value": "false" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3488, 4592],
      "id": "ea7b486f-187c-4265-b7d7-c08b3e11f78d",
      "name": "HTTP - Log AI Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" },
            { "name": "lastClientTime", "value": "={{ $('Webhook - Messages').item.json.body.data.messageTimestamp * 1000 }}" },
            { "name": "lastResponder", "value": "client" },
            { "name": "clientActive", "value": "true" },
            { "name": "aiPending", "value": "false" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3488, 4752],
      "id": "75f2583e-8d21-43c7-80a9-0de42c742cff",
      "name": "HTTP - Update Client Takeover"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/workflow/cancel-ai",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3264, 4752],
      "id": "db627340-d995-415e-a363-75a314f94a35",
      "name": "HTTP - Cancel Pending AI"
    }
  ],
  "connections": {
    "Webhook - Messages": {
      "main": [[{ "node": "Function - Extract Data", "type": "main", "index": 0 }]]
    },
    "Function - Extract Data": {
      "main": [[{ "node": "If - Message Type", "type": "main", "index": 0 }]]
    },
    "If - Message Type": {
      "main": [
        [{ "node": "HTTP - Buffer Append", "type": "main", "index": 0 }],
        [{ "node": "If - AI or Client", "type": "main", "index": 0 }]
      ]
    },
    "If - AI or Client": {
      "main": [
        [{ "node": "HTTP - Log AI Response", "type": "main", "index": 0 }],
        [{ "node": "HTTP - Update Client Takeover", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Buffer Append": {
      "main": [[{ "node": "Wait - 30s (Batch + Takeover)", "type": "main", "index": 0 }]]
    },
    "Wait - 30s (Batch + Takeover)": {
      "main": [[{ "node": "HTTP - Get Status (After Wait)", "type": "main", "index": 0 }]]
    },
    "HTTP - Get Status (After Wait)": {
      "main": [[{ "node": "If - Latest & Client Free", "type": "main", "index": 0 }]]
    },
    "If - Latest & Client Free": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }],
        [{ "node": "STOP - Superseded or Client Took Over", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [[{ "node": "Send - AI Message", "type": "main", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Send - AI Message": {
      "main": [[{ "node": "HTTP - Update AI Done", "type": "main", "index": 0 }]]
    },
    "HTTP - Update AI Done": {
      "main": [[{ "node": "HTTP - Clear Buffer", "type": "main", "index": 0 }]]
    },
    "HTTP - Update Client Takeover": {
      "main": [[{ "node": "HTTP - Cancel Pending AI", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a016f810ed20da1467bec3322ab9c93a3524649415762e8096eebd77770a497"
  }
}
