n8n-workflow-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5152,
        2496
      ],
      "id": "947091b8-6238-47a9-ac04-17826f29f079",
      "name": "Webhook - Messages",
      "webhookId": "4bef86b0-2efc-4fd4-8ba0-e611b074e301"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data\nconst body = $json.body;\nconst data = body.data;\nconst key = data.key;\n\nconst remoteJid = key.remoteJid;\nconst fromMe = key.fromMe;\nconst source = data.source;\nconst timestamp = data.messageTimestamp;\nconst messageText = data.message.conversation || '';\nconst pushName = data.pushName || 'Unknown';\n\n// Classify message type\nlet messageType = 'UNKNOWN';\nif (fromMe === false) {\n  messageType = 'CUSTOMER';\n} else if (fromMe === true && source === 'web') {\n  messageType = 'AI';\n} else if (fromMe === true && (source === 'android' || source === 'iphone' || source !== 'web')) {\n  messageType = 'CLIENT';\n}\n\nreturn {\n  remoteJid: remoteJid,\n  fromMe: fromMe,\n  source: source,\n  timestamp: timestamp,\n  messageText: messageText,\n  pushName: pushName,\n  messageType: messageType,\n  isCustomer: messageType === 'CUSTOMER',\n  isAI: messageType === 'AI',\n  isClient: messageType === 'CLIENT'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4896,
        2496
      ],
      "id": "0b548023-db5c-44b1-a4f5-7a688c108a8a",
      "name": "Function - Extract Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-message-type",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "CUSTOMER",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4656,
        2496
      ],
      "id": "ba788c5a-c985-44d1-ba08-0a370cee0966",
      "name": "If - Message Type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-ai-vs-client",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4656,
        2848
      ],
      "id": "438cf29d-a613-4b26-906f-a7ae9071fde7",
      "name": "If - AI or Client"
    },
    {
      "parameters": {
        "url": "=http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/status?remoteJid={{ $json.remoteJid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4448,
        2400
      ],
      "id": "459665f0-f97b-4d4e-a528-cd8fede2223a",
      "name": "HTTP - Get Chat Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-client-active",
              "leftValue": "={{ $json.clientActive }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4256,
        2400
      ],
      "id": "81fcd4e4-a20f-43a3-bb11-d918e5410649",
      "name": "If - Client Active"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4048,
        2288
      ],
      "id": "fa448028-3561-4213-b824-df8ee02e5896",
      "name": "SKIP - Client Handling Chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "lastCustomerTime",
              "value": "={{ $('Webhook - Messages').item.json.body.data.messageTimestamp * 1000 }}"
            },
            {
              "name": "lastResponder",
              "value": "ai"
            },
            {
              "name": "aiPending",
              "value": "true"
            },
            {
              "name": "clientActive",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4208,
        2544
      ],
      "id": "82869d7c-4c66-4c63-a73c-33fad1e6fcb6",
      "name": "HTTP - Set AI Pending"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the user message: {{ $('Webhook - Messages').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "You are the WhatsApp assistant for TimeZone Dubai (The Timezone Watches Ltd), Dubai's leading destination for luxury timepieces, based at Gate Avenue, DIFC. We specialize in exceptional PRE-OWNED and RARE GENUINE watches from the world's most prestigious brands, backed by over a century of Swiss watchmaking craftsmanship and heritage. Our in-store collection includes Rolex, Patek Philippe, Audemars Piguet, Richard Mille, Cartier, Bvlgari, A. Lange & Söhne, and Arnold & Son. We also offer sourcing services for exclusive brands including Audemars Piguet, Hublot, Patek Philippe, Richard Mille, Jaeger-LeCoultre, Panerai, Breguet, Breitling, Franck Muller, and IWC, among others. Every watch is 100% authentic, inspected multi-point by our in-house experts — we never sell replicas or first-copies. Our four core values are Service, Knowledge, Independence, and Trust.\n\nGreet every customer warmly and naturally, and find out what they are looking for. Never mention Facebook, ads, leads, or how they reached us — just have a friendly, general conversation. Your goals, in order: (1) understand which watch / brand / style they want and whether they are a serious buyer, (2) build interest using your brand knowledge, (3) route them appropriately.\n\nHow to route (decide based on the customer's message):\n- If they want to see, try on, buy, or browse a watch, or are clearly a serious buyer → invite them to VISIT OUR SHOWROOM for a private viewing by appointment, and ALWAYS include the showroom address together with the Google Maps link below.\n- If they want pricing, a trade-in/sell valuation, negotiation, a specific model/availability check, or ask anything you cannot answer from the info above → tell them our team will assist them, and connect them (a specialist will take over the chat).\n- If it is a simple general question you can answer from the info above → answer it briefly, then point them to a showroom visit or our team.\n\nWhat you know (use when relevant):\n- Condition: mint and near-mint; any minor wear is documented with photos.\n- Warranty: most watches carry the remainder of the manufacturer warranty; otherwise our own 12-month mechanical warranty.\n- Trade-in: yes, competitive valuations — our team can give a preliminary valuation.\n- Boxes & papers: we prioritize full sets; details are confirmed per watch.\n- Services: buy, sell, and trade pre-owned luxury watches, plus professional evaluation, customization, and watchmaking/servicing.\n- We serve clients across the UAE: Dubai, Abu Dhabi, Sharjah, Ajman, Ras al-Khaimah, Fujairah, Umm al Quwain, and Palm Jumeirah.\n- Showroom: North Zone, Gate Avenue, Unit GA-00-NZ-G0-RT-49, Level GF, DIFC, Dubai, UAE. Google Maps: https://maps.app.goo.gl/yYsfxWDLoRYSx1XP7 . Hours: Mon–Sat 10:00–22:00, Sun 12:00–20:00. Contact: +971 58 905 1405, info@timezonedubai.com.\n- Website: https://timezonedubai.com — share only when the customer actually needs it (e.g. to browse the collection), never by default.\n\nRules:\n- NEVER quote, estimate, or discuss prices. If asked about price, let them know our team shares details during a private viewing or call, and offer a showroom visit.\n- NEVER confirm orders or take payment.\n- NEVER guess or improvise. If you do not know something (a specific model, availability, a detail, or anything outside the info above), do not make it up — reply with a short, helpful line such as: \"Let me have our team get in touch with you on this.\" and offer a showroom visit or specialist call.\n- Sound like a real person from the boutique texting on WhatsApp — natural and warm. NEVER reveal or imply you are an AI, bot, or assistant.\n- Use appreciation or filler words (\"Great\", \"Perfect\", \"Thank you\", etc.) only when the moment genuinely calls for it — not at the start of every message.\n- When you mention or invite them to the showroom, you MUST include the location (address + Google Maps link). Never mention the showroom without the location.\n- Never use internal terms like \"Client Advisor\" or \"specialist\" to the customer — just say \"our team\". Do NOT repeat \"our team\" in every message; only mention a handoff when genuinely needed, and vary your wording.\n- English only. CRITICAL: keep EVERY reply to 1–2 short lines maximum (one or two short sentences) — like a quick WhatsApp text, never a paragraph. Ask only one question at a time.\n- When the customer is ready, let them know our team will follow up and/or invite them to book a showroom visit — in one short line."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4032,
        2496
      ],
      "id": "5be2a5e1-0289-4bdf-907c-a6c8dca0b6f4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3952,
        2720
      ],
      "id": "f4a84acd-344c-4826-a27d-a7e2e2db4194",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4048,
        2704
      ],
      "id": "7080414e-16ce-466b-b720-5d6947d1b9a9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rv8Gx2C0yKGwzKZT",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3696,
        2544
      ],
      "id": "af3765aa-1cbf-4fa3-874a-df625cd24c38",
      "name": "Wait - 30 Seconds",
      "webhookId": "wait-60-sec-webhook"
    },
    {
      "parameters": {
        "url": "=http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/status?remoteJid={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3520,
        2544
      ],
      "id": "97cd2aca-e73d-47fc-b216-a533b478570d",
      "name": "HTTP - Recheck Client Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-ai-still-pending",
              "leftValue": "={{ $json.aiPending }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3312,
        2544
      ],
      "id": "9bb13274-2767-41e4-8001-d2ebebcb4c4f",
      "name": "If - AI Still Pending"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3120,
        2448
      ],
      "id": "035fe043-81e4-46a4-8d50-aa13559559d4",
      "name": "CANCEL - AI Response (Client Took Over)"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook - Messages').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-en.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3120,
        2640
      ],
      "id": "d7e042d6-e0bf-4bad-a2bc-afc41f7ed51b",
      "name": "Send - AI Message",
      "credentials": {
        "evolutionApi": {
          "id": "nUouiKyAGid2oMmY",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "lastAITime",
              "value": "={{ Date.now() }}"
            },
            {
              "name": "lastResponder",
              "value": "ai"
            },
            {
              "name": "aiPending",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2912,
        2640
      ],
      "id": "2ac23c64-c131-460f-9dcc-d74ac65e46ee",
      "name": "HTTP - Update AI Response Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "lastAITime",
              "value": "={{ $json.timestamp * 1000 }}"
            },
            {
              "name": "lastResponder",
              "value": "ai"
            },
            {
              "name": "aiPending",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4416,
        2832
      ],
      "id": "bf67536b-f7fe-4396-95d4-a0e28b7e6056",
      "name": "HTTP - Log AI Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "lastClientTime",
              "value": "={{ $('Webhook - Messages').item.json.body.data.messageTimestamp * 1000 }}"
            },
            {
              "name": "lastResponder",
              "value": "client"
            },
            {
              "name": "clientActive",
              "value": "true"
            },
            {
              "name": "aiPending",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4448,
        3008
      ],
      "id": "35f06763-f438-4abb-808d-7b1832d3ce2e",
      "name": "HTTP - Update Client Takeover"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/workflow/cancel-ai",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4224,
        3040
      ],
      "id": "04728824-91b5-487f-844a-859e575e3674",
      "name": "HTTP - Cancel Pending AI"
    }
  ],
  "connections": {
    "Webhook - Messages": {
      "main": [
        [
          {
            "node": "Function - Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Extract Data": {
      "main": [
        [
          {
            "node": "If - Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Message Type": {
      "main": [
        [
          {
            "node": "HTTP - Get Chat Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If - AI or Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - AI or Client": {
      "main": [
        [
          {
            "node": "HTTP - Log AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Update Client Takeover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Chat Status": {
      "main": [
        [
          {
            "node": "If - Client Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Client Active": {
      "main": [
        [
          {
            "node": "SKIP - Client Handling Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Set AI Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Set AI Pending": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait - 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 30 Seconds": {
      "main": [
        [
          {
            "node": "HTTP - Recheck Client Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Recheck Client Status": {
      "main": [
        [
          {
            "node": "If - AI Still Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - AI Still Pending": {
      "main": [
        [
          {
            "node": "Send - AI Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CANCEL - AI Response (Client Took Over)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - AI Message": {
      "main": [
        [
          {
            "node": "HTTP - Update AI Response Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Update Client Takeover": {
      "main": [
        [
          {
            "node": "HTTP - Cancel Pending AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a016f810ed20da1467bec3322ab9c93a3524649415762e8096eebd77770a497"
  }
}
