n8n-workflow-fixed.json
{
  "name": "TimeZone Dubai - AI Conversation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-4544, 4352],
      "id": "03e8accd-8b60-4e4a-a559-6d14f54634d3",
      "name": "Webhook - Messages",
      "webhookId": "4bef86b0-2efc-4fd4-8ba0-e611b074e301"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data\nconst body = $json.body;\nconst data = body.data;\nconst key = data.key;\n\nconst remoteJid = key.remoteJid;\nconst messageId = key.id;\nconst fromMe = key.fromMe;\nconst source = data.source;\nconst timestamp = data.messageTimestamp;\nconst messageText = data.message.conversation || '';\nconst pushName = data.pushName || 'Unknown';\n\n// CUSTOMER = inbound (fromMe false). Everything we/Shaheer send is fromMe true\n// and goes to the OUTBOUND path, where the server tells us (by matching the\n// text we sent) whether it is our own echo or a real human message.\nlet messageType = 'OUTBOUND';\nif (fromMe === false) {\n  messageType = 'CUSTOMER';\n}\n\nreturn {\n  remoteJid: remoteJid,\n  messageId: messageId,\n  fromMe: fromMe,\n  source: source,\n  timestamp: timestamp,\n  messageText: messageText,\n  pushName: pushName,\n  messageType: messageType,\n  isCustomer: messageType === 'CUSTOMER'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4288, 4352],
      "id": "1c1ba432-f6f4-44b9-aa4b-2b97d71ad472",
      "name": "Function - Extract Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "condition-message-type", "leftValue": "={{ $json.messageType }}", "rightValue": "CUSTOMER", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-4048, 4352],
      "id": "32a8f11a-b53c-4be8-af64-c7701c9c32b4",
      "name": "If - Message Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/buffer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" },
            { "name": "messageText", "value": "={{ $('Webhook - Messages').item.json.body.data.message.conversation }}" },
            { "name": "timestamp", "value": "={{ $('Webhook - Messages').item.json.body.data.messageTimestamp }}" },
            { "name": "id", "value": "={{ $('Webhook - Messages').item.json.body.data.key.id }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3808, 4256],
      "id": "d2222222-aaaa-4aaa-8aaa-000000000020",
      "name": "HTTP - Buffer Append"
    },
    {
      "parameters": { "amount": 15 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-3584, 4256],
      "id": "079a582a-1e7a-4d56-99f7-96aaa2bc1159",
      "name": "Wait - 15s (Batch + Takeover)",
      "webhookId": "wait-15s-batch"
    },
    {
      "parameters": {
        "url": "=http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/status?remoteJid={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3360, 4256],
      "id": "6faa2e2a-ad14-4a2f-8299-f153b4e96139",
      "name": "HTTP - Get Status (After Wait)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "cond-latest", "leftValue": "={{ $json.lastCustomerMsgId }}", "rightValue": "={{ $('Webhook - Messages').item.json.body.data.key.id }}", "operator": { "type": "string", "operation": "equals" } },
            { "id": "cond-ai-enabled", "leftValue": "={{ $json.aiDisabled }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-3136, 4256],
      "id": "a5555555-aaaa-4aaa-8aaa-000000000050",
      "name": "If - Latest & AI Enabled"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-2912, 4112],
      "id": "b6666666-aaaa-4aaa-8aaa-000000000060",
      "name": "STOP - Superseded / Handed Off"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer's message(s) to answer (treat all lines as one single turn):\n{{ $('HTTP - Get Status (After Wait)').item.json.combinedText }}\n{{ $('HTTP - Get Status (After Wait)').item.json.greetingSent ? '[Internal note: This customer already received our welcome greeting earlier. Do NOT greet again, do NOT say Welcome, do NOT re-introduce the boutique. Just answer directly.]' : '' }}",
        "options": {
          "systemMessage": "You are the first responder on Timezone Watches' WhatsApp. Timezone is a luxury pre-owned watch boutique in Gate Avenue, DIFC, Dubai.\n\nA human sales agent named Shaheer is watching this conversation in real time. The moment he sends a message manually, you stop responding completely. Do not announce this. Do not say you are passing them to Shaheer. Just stop. The conversation continues naturally with him.\n\nUntil Shaheer intervenes, your job is to greet the lead warmly, find out what they need, and gather key information, one question at a time, naturally, in short messages.\n\nYOUR PERSONALITY\nWarm, concise, and confident. You sound like a knowledgeable person who works in a high-end boutique. Not a chatbot, not a call centre. Every message must be under 35 words. No bullet points. No lists. No em dashes or en dashes. One idea per message. One question per message. Never open with Great or Awesome or Absolutely.\n\nFIGURE OUT IF THEY ARE BUYING OR SELLING\nTwo types of people contact Timezone. Buyers who want to purchase a watch. Sellers who want to sell or trade one they already own. Do not bluntly ask are you buying or selling. Read their opening message first. If it is obvious, proceed. If it is not clear, ask one open question to find out.\n\nIF THEY WANT TO BUY\nGather these four things in order, one at a time:\nOne, what watch they are looking for (brand, model, reference if they know it).\nTwo, their approximate budget in AED.\nThree, whether they are based in the UAE.\nFour, whether they are ready to buy soon or still exploring.\nOnce you have all four, stop asking questions. Keep the conversation open and warm. Do not promise that Shaheer will follow up. He is already here.\n\nIF THEY WANT TO SELL OR TRADE\nGather these four things in order, one at a time:\nOne, what watch they want to sell or trade (brand, model, reference if they know it).\nTwo, whether they have the original box and papers.\nThree, whether they are based in the UAE.\nFour, whether they want a straight sale or are open to trading toward another piece.\nOnce you have all four, stop asking questions. Keep the conversation warm and open.\n\nHANDLING COMMON SITUATIONS\nIf the opening message already answers one or more of your questions, skip those and move to the next unanswered one.\nIf they ask for a price, give the listed price only if you genuinely know it. Never invent or estimate a number. Then continue with your next qualifying question.\nIf they ask something you cannot answer, say you will have the details checked and keep the conversation moving. Do not guess or invent information.\nIf they are impatient or pushy, stay calm and keep your replies short. Do not escalate.\nIf they ask whether they are speaking to a human or a bot, be honest. Tell them you are Timezone's automated assistant and that someone from the team is available shortly.\nIf their budget is clearly out of range, under AED 30,000, or they say they want something cheap, be polite. Let them know the collection starts from AED 45,000 and all pieces are at the DIFC boutique. Keep it warm and end naturally.\n\nLANGUAGE\nAlways respond in English only, regardless of the language the lead uses. Never reply in any other language.\n\nPRICING\nYou do not have a live catalogue. The only price you may state is that the collection starts from AED 45,000. For any specific model price or availability, say you will have the details checked. Never invent specific numbers and never confirm a specific piece is in stock.\n\nWHAT YOU NEVER DO\nNever send more than one question per message. Never send a message longer than 35 words. Never use em dashes or en dashes. Never announce that Shaheer is taking over or that you are stopping. Never negotiate price. Never confirm availability of a specific piece. Never send photos. Never follow up if the lead goes quiet.\n\nCONTINUITY\nIf the user message contains an internal note saying the customer was already greeted, do not greet again, do not say Welcome, and do not re-introduce the boutique. Just continue. The customer may send several messages at once. Treat them as a single turn and answer them together in one short reply. Use the conversation memory so you never repeat yourself or lose context.\n\nWHEN YOU ARE DONE\nOnce you have gathered all four qualifying answers for a buyer or a seller and have written your final warm closing line, finish that line and then, on a new final line, output the exact token <<QUALIFIED>>. This token is stripped before sending and is never visible to the customer. Do not output the token until you genuinely have all four answers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-2912, 4304],
      "id": "68100454-bc41-4a7e-8fff-850168f427da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-2832, 4528],
      "id": "84d059d7-e4d8-48ad-9431-836f84e77f40",
      "name": "Simple Memory"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-2976, 4512],
      "id": "745b4a94-d39d-4590-a3ef-7d196b0de01f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": { "id": "rv8Gx2C0yKGwzKZT", "name": "Gemini API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Strip the hidden completion token before sending, and report whether the\n// AI signalled that it has finished qualifying this lead.\nconst out = ($('AI Agent').item.json.output || '').toString();\nconst qualified = /<<\\s*QUALIFIED\\s*>>/i.test(out);\nconst cleanText = out.replace(/<<\\s*QUALIFIED\\s*>>/ig, '').trim();\nreturn { cleanText: cleanText, qualified: qualified };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2688, 4304],
      "id": "e8888888-aaaa-4aaa-8aaa-000000000080",
      "name": "Code - Parse Completion"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook - Messages').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.cleanText }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-en.evolutionApi",
      "typeVersion": 1,
      "position": [-2480, 4304],
      "id": "d6612f9d-bc56-4c57-b499-c26d1a7ffa83",
      "name": "Send - AI Message",
      "credentials": {
        "evolutionApi": { "id": "nUouiKyAGid2oMmY", "name": "Evolution account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/mark-sent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" },
            { "name": "text", "value": "={{ $('Code - Parse Completion').item.json.cleanText }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2272, 4304],
      "id": "f9999999-aaaa-4aaa-8aaa-000000000090",
      "name": "HTTP - Mark Sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/buffer/clear",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2064, 4304],
      "id": "c7777777-aaaa-4aaa-8aaa-000000000070",
      "name": "HTTP - Clear Buffer"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "cond-qualified", "leftValue": "={{ $('Code - Parse Completion').item.json.qualified }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-1856, 4304],
      "id": "a1010101-aaaa-4aaa-8aaa-000000000100",
      "name": "If - Qualified"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/ai-complete",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1648, 4208],
      "id": "a1111111-aaaa-4aaa-8aaa-000000000110",
      "name": "HTTP - AI Complete (Stop)"
    },
    {
      "parameters": { "amount": 5 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-3808, 4560],
      "id": "a1212121-aaaa-4aaa-8aaa-000000000120",
      "name": "Wait - 5s (Echo Settle)",
      "webhookId": "wait-5s-settle"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/check-sent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" },
            { "name": "text", "value": "={{ $('Webhook - Messages').item.json.body.data.message.conversation }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3584, 4560],
      "id": "a1313131-aaaa-4aaa-8aaa-000000000130",
      "name": "HTTP - Check Sent"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "cond-ours", "leftValue": "={{ $json.ours }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-3360, 4560],
      "id": "a1414141-aaaa-4aaa-8aaa-000000000140",
      "name": "If - Our Echo?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-3136, 4464],
      "id": "a1515151-aaaa-4aaa-8aaa-000000000150",
      "name": "IGNORE - Our Own Echo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://b8k404kgks8k4kowss4k0804.31.97.78.118.sslip.io/api/chat/handoff",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "remoteJid", "value": "={{ $('Webhook - Messages').item.json.body.data.key.remoteJid }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3136, 4640],
      "id": "a1616161-aaaa-4aaa-8aaa-000000000160",
      "name": "HTTP - Handoff (Disable AI)"
    }
  ],
  "connections": {
    "Webhook - Messages": {
      "main": [[{ "node": "Function - Extract Data", "type": "main", "index": 0 }]]
    },
    "Function - Extract Data": {
      "main": [[{ "node": "If - Message Type", "type": "main", "index": 0 }]]
    },
    "If - Message Type": {
      "main": [
        [{ "node": "HTTP - Buffer Append", "type": "main", "index": 0 }],
        [{ "node": "Wait - 5s (Echo Settle)", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Buffer Append": {
      "main": [[{ "node": "Wait - 15s (Batch + Takeover)", "type": "main", "index": 0 }]]
    },
    "Wait - 15s (Batch + Takeover)": {
      "main": [[{ "node": "HTTP - Get Status (After Wait)", "type": "main", "index": 0 }]]
    },
    "HTTP - Get Status (After Wait)": {
      "main": [[{ "node": "If - Latest & AI Enabled", "type": "main", "index": 0 }]]
    },
    "If - Latest & AI Enabled": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }],
        [{ "node": "STOP - Superseded / Handed Off", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [[{ "node": "Code - Parse Completion", "type": "main", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Code - Parse Completion": {
      "main": [[{ "node": "Send - AI Message", "type": "main", "index": 0 }]]
    },
    "Send - AI Message": {
      "main": [[{ "node": "HTTP - Mark Sent", "type": "main", "index": 0 }]]
    },
    "HTTP - Mark Sent": {
      "main": [[{ "node": "HTTP - Clear Buffer", "type": "main", "index": 0 }]]
    },
    "HTTP - Clear Buffer": {
      "main": [[{ "node": "If - Qualified", "type": "main", "index": 0 }]]
    },
    "If - Qualified": {
      "main": [
        [{ "node": "HTTP - AI Complete (Stop)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Wait - 5s (Echo Settle)": {
      "main": [[{ "node": "HTTP - Check Sent", "type": "main", "index": 0 }]]
    },
    "HTTP - Check Sent": {
      "main": [[{ "node": "If - Our Echo?", "type": "main", "index": 0 }]]
    },
    "If - Our Echo?": {
      "main": [
        [{ "node": "IGNORE - Our Own Echo", "type": "main", "index": 0 }],
        [{ "node": "HTTP - Handoff (Disable AI)", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a016f810ed20da1467bec3322ab9c93a3524649415762e8096eebd77770a497"
  }
}
